html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
#root, #map, #mapContainer, .leaflet-container {
  width: inherit;
  height: inherit;
}

.controlsContainer {
  bottom: 20px;
  position: fixed;
  z-index: 50000;
}
